@media (min-width:768px){
  ::-webkit-scrollbar {
   width: 2vw;
  }
  #wrapper
  {
    padding: 3vw;
    margin: 2vh auto 0 auto;
    scrollbar-width: 1vw;
    scrollbar-color: #7D8D9C #adeec2;
    width: 100%;
  }

  .column
  {
    border-radius: 15px;
    background-color: white;
    width: 100%;
    padding: 3vw;
  }

  .row
  {
    display: flex;
    align-content: center;
    justify-content: space-between;
    text-align: center;
    width: 100%;
    padding: 2vw;
    font-size: 3vw;
    border-radius: 15px;
  }

  .row:hover
  {
    cursor: pointer;
    background-color: #eee;
  }

  .attribute
  {
    flex:1;
    max-width: 38%;
  }

  .row input[type="text"], .row input[type="password"]
  {
    text-align: center;
    max-width: 58%;
    flex:1;
    height: 100%;
    font-size: 2.5vw;
    padding: .5vw;
    border: none;
    border-bottom: 1px solid #e36c3d;
    border-radius: 10px;
  }

  .row input[type="text"]:focus, .row select:focus, .row input[type="password"]:focus
  {
    outline: none;
  }

  .row select
  {
    flex:1;
    height: 100%;
    font-size: 2.5vw;
    padding: .5vw;
    max-width: 20%;
    border: none;
    border-bottom: 1px solid #e36c3d;
    border-radius: 10px;
    text-align-last: center;
  }

  .typing, .typing:hover
  {
    background-color: #adeec2;
    color: white;
    border: 1px solid white;
  }

  #EVul
  {
    margin: auto;
    width: 60%;
  }

  #EVul li
  {
    justify-content: space-between;
    display: flex;
    padding: 0;
    height: 100%;
  }

  #EVul li:last-child
  {
    margin: 0;
  }

  #EVul li input, #EVul li select
  {
    flex: 1;
    max-width: 40%;
  }

  #EVul li input[type="text"], #EVul li select
  {
    padding: 1vw;
    outline: none;
    border: 1px solid black;
    border-radius: 10px;
    font-size: 2.3vw;
    text-align: center;
    height: 100%;
    text-align-last: center;
  }

  #EVul li input[type="text"]:focus::placeholder
  {
    color: white;
  }

  #EVul li input[type="text"]:focus, #EVul li select:focus
  {
    border: 2px solid #e36c3d;
  }

  #addMoveset
  {
    border: 2px solid #adeec2;
    outline: none;
    padding: 1.2vw;
    border-radius: 15px;
    width: 95%;
    margin: 2vw auto 0 auto;
    text-align: center;
    color: white;
    background-color: #adeec2;
    font-size: 3vw;
    text-shadow: 1px 1px 2px #CE5937,1px 1px 2px #CE5937,1px 1px 2px #CE5937,1px 1px 2px #CE5937;
  }

  #addMoveset:hover, #addMoveset:focus
  {
    outline: none;
    border: 2px solid #e36c3d;
    cursor: pointer;
    background-color: #acddb1;
    text-shadow: 1px 1px 2px #bd4826,1px 1px 2px #bd4826,1px 1px 2px #bd4826,1px 1px 2px #bd4826;
  }

  #EV ul li div.wrong-data, .wrong-data
  {
    background-color:#e36c3d;
    color: white;
    width: 100%;
    padding: 1vw;
    text-align: center;
    visibility: hidden;
    border-radius: 10px;
    font-size: 1.8vw;
  }
  .wrong-data
  {
    margin: 0 0 3vw 0;
  }
}
