@media (min-width:100px){

  body
  {
    margin: 0;
    padding: 0;
  }

  ::-webkit-scrollbar {
   width: 2.5vw;
  }

  ::-webkit-scrollbar-track {
   background: #adeec2;
  }

  ::-webkit-scrollbar-thumb {
   background: #7D8D9C;
  }

  ::-webkit-scrollbar-thumb:hover {
   background: #6c7c8b;
  }

  #hints::-webkit-scrollbar {
   width: .5vw;
  }
  #hints::-webkit-scrollbar-track {
   background: #adeec2;
  }

  #hints::-webkit-scrollbar-thumb {
   background: #7D8D9C;
  }

  #hints::-webkit-scrollbar-thumb:hover {
   background: #6c7c8b;
  }

  #wrapper
  {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: auto;
    border-bottom: 4px solid  #adeec2;
  }

  #leftWrapper
  {
    display: none;
    flex:1;
  }

  #rightWrapper
  {
    flex:1;
    display: block;
  }

  #searchbar, #pokebar
  {
    height: 30vw;
    padding: 4vw;
    margin: auto 0;
  }

  #sidebar
  {
    padding: 2vw;
  }

  #mainpanel
  {
    font-size: 4.5vw;
    padding: 4vw 3vw;
    min-height: 65vh;
    text-align: justify;
    overflow-y:auto;
  }

  #pokebar
  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  #welcome
  {
    letter-spacing: 1px;
    text-align: center;
    color: white;
    font-size: 9vw;
  }

  #sidebar
  {
    overflow-x: hidden;
    overflow-y: hidden;
  }

  #sidebar .type
  {
    float: left;
  }

  #mainpanel
  {
    background-color: #eee;
    border-right: 2px solid #adeec2;
  }

  #mainpanel::-webkit-scrollbar {
    width: 2vw;
  }

  #searchbar
  {
    height: 20vw;
  }

  #searchbar input[type="search"]
  {
    padding: 3vw;
    font-size: 4.5vw;
    height: 100%;
    width: 100%;
    border:3px solid #adeec2;
    border-radius: 20px;
    margin: auto 0;
  }

  #searchbar input[type="search"]:focus
  {
    border:3px solid #beffd3;
    outline: none;
  }



  #sidebar ul
  {
    margin: 0;
    list-style-type:none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  #sidebar a
  {
    flex: 1;
    padding: 4vw ;
    border-radius: 15px;
    width: 95%;
    margin: 0 auto 4vw auto;
    background-color: #eee;
    display: flex;
    align-items: center;
  }

  #sidebar a:hover
  {
    background-color: #ddd;
  }

  #sidebar img
  {
    height: 18vw;
  }

  .sidebarContent
  {
    margin-left: 1vw;
  }

  .sidebarName
  {
    font-size: 6vw;
    margin-bottom: 3vw;
  }
  .type
  {
    border-radius: 5px;
    padding: 1.5vw;
  }
  .type:nth-child(1)
  {
    margin-right: 2vw;
  }

  .sidebarStar
  {
    margin-right: 3vw;
    margin-left: auto;
    max-height: 10vw;
  }

  #loadMore
  {
    text-align: center;
    color: white;
    height: auto;
    background-color: #adeec2;
    font-size: 6.5vw;
    padding: 3vw;
    width: 95%;
    border-radius: 15px;
    margin: 0 auto 4vw auto;
    text-shadow: 1px 1px 2px #CE5937,1px 1px 2px #CE5937,1px 1px 2px #CE5937,1px 1px 2px #CE5937;
  }
  #loadMore:hover
  {
    cursor: pointer;
    background-color: #acddb1;
    text-shadow: 1px 1px 2px #bd4826,1px 1px 2px #bd4826,1px 1px 2px #bd4826,1px 1px 2px #bd4826;
  }

  #hints
  {
    display: none;
    direction:rtl;
    width: 95%;
    position: absolute;
    margin: 0 auto;
    z-index: 1000;
    list-style-type: none;
    padding: 0;
    max-height: 25vw;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom: 3px solid #467854;
    border-bottom-right-radius: 15px;
  }

  #hints li
  {
    direction:ltr;
    width: 100%;
    padding: 4vw 5vw;
    font-size: 4vw;
    z-index: 1000;
    background-color: #dcf9e8;
    cursor: pointer;
    border-bottom: 1px solid #467854;
  }
  #hints li:hover
  {
    cursor: pointer;
    background-color: #cbe8d7;
  }

}
