@media (min-width:992px){

  ::-webkit-scrollbar {
   width: 2vw;
  }

  #wrapper
  {
    /* scrollbar */
    scrollbar-width: 1vw;
    scrollbar-color: #7D8D9C #adeec2;
    width: 95vw;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
  }

  #leftWrapper
  {
    display: none;
    flex:1;
  }

  #rightWrapper
  {
    flex:1;
  }

  #searchbar, #pokebar
  {
    height: 8.5vw;
    padding: 2vw 2vw;
    margin: auto 0;
  }

  #sidebar,#mainpanel
  {
    padding: 2vw;
    height: 30vw;
    min-height: unset;
  }


  #pokebar
  {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
  }

  #welcome
  {
    letter-spacing: 1px;
    text-align: center;
    color: white;
    font-size: 4vw;
  }

  #sidebar
  {
    overflow-x: hidden;
    overflow-y: scroll;
  }

  #sidebar .type
  {
    float: left;
  }

  #mainpanel
  {
    border-bottom-right-radius: 10px;
    background-color: #eee;
    border-right: 2px solid #adeec2;
  }

  #mainpanel::-webkit-scrollbar {
    width: 2vw;
  }

  #searchbar input[type="search"]
  {
    padding: 1.5vw;
    font-size: 2vw;
    height: 100%;
    width: 100%;
    border:3px solid #adeec2;
    border-radius: 20px;
    margin: auto 0;
  }

  #searchbar input[type="search"]:focus
  {
    border:3px solid #beffd3;
    outline: none;
  }



  #sidebar ul
  {
    margin: 0;
    list-style-type:none;
    padding: 0;
  }

  #sidebar a
  {
    flex:1;
    padding: 2vw ;
    border-radius: 15px;
    height: 20vw;
    width: 95%;
    margin: 0 auto 1vw auto;
    background-color: #eee;
  }

  #sidebar a:hover
  {
    background-color: #ddd;
  }

  #sidebar img
  {
    float: left;
    height: 7.5vw;
  }

  .sidebarContent
  {
    float: left;
    margin-left: 1vw;
  }

  .sidebarName
  {
    font-size: 2.5vw;
    margin-bottom: 1vw;
  }
  .type
  {
    border-radius: 5px;
    padding: 1vw;
  }
  .type:nth-child(1)
  {
    margin-right: 0.5vw;
  }

  #loadMore
  {
    text-align: center;
    color: white;
    height: auto;
    background-color: #adeec2;
    font-size: 3vw;
    padding: 1vw;
    width: 95%;
    border-radius: 15px;
    margin: 0 auto 2vw auto;
    text-shadow: 1px 1px 2px #CE5937,1px 1px 2px #CE5937,1px 1px 2px #CE5937,1px 1px 2px #CE5937;
  }
  #loadMore:hover
  {
    cursor: pointer;
    background-color: #acddb1;
    text-shadow: 1px 1px 2px #bd4826,1px 1px 2px #bd4826,1px 1px 2px #bd4826,1px 1px 2px #bd4826;
  }

  #hints
  {
    display: none;
    direction:rtl;
    width: 90%;
    position: absolute;
    margin: 0 auto;
    z-index: 1000;
    list-style-type: none;
    padding: 0;
    max-height: 20vw;
    overflow-x: hidden;
    overflow-y: auto;
    border-bottom: 3px solid #467854;
    border-bottom-right-radius: 15px;
  }

  #hints li
  {
    direction:ltr;
    width: 100%;
    padding: 1.5vw 3vw;
    font-size: 2.5vw;
    z-index: 1000;
    background-color: #dcf9e8;
    cursor: pointer;
    border-bottom: 1px solid #467854;
  }
  #hints li:hover
  {
    cursor: pointer;
    background-color: #cbe8d7;
  }
}
