@media (min-width:200px){

  #moveset-wrapper
  {
    width: 100%;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
    margin: 3vw 0;
  }

  .moveset-column
  {
    margin: auto;
    text-align: center;
    flex:1;
    max-width: 47.5%;
    background-color: white;
    padding: 1vw;
    border-radius: 15px;
  }

}
