<div id="topbar">
  <div id="poke-img">
    <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/413.png" alt="">
  </div>
  <div id="forms">
    <div id="rag-forms">
      <ul>
        <li>regular</li>
        <li class="no-form">alolan</li>
        <li class="no-form">galarian</li>
      </ul>
    </div>
    <div id="types">
      <div id="types-text">Types:</div>
      <div class="grass type">
        Grass
      </div>
      <div class="bug type">
        bug
      </div>
    </div>
    <div id="other-forms">
      <ul>
        <li>Plant cloak</li>
        <li>Plant cloak</li>
        <li>Sandy cloak</li>
        <li>Trash cloak</li>
      </ul>
    </div>
    <div style="clear:both"></div>
  </div>
  <div style="clear:both"></div>
</div>
