<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/index/style.css" type="text/css">
  </head>
  <body>

    <%- include('./partials/nav.ejs') %>

    <div id="wrapper">

      <div id="leftWrapper">

        <div id="searchbar">
          <input id="searchinput" autocomplete="off" type="search" name="" value="" placeholder="Type the Pokemon Name">
          <ul id="hints">

          </ul>
        </div>
        <div id="sidebar">
          <ul>

          </ul>

          <div id="loadMore" data-id="1">Load More</div>
        </div>

      </div>

      <div id="rightWrapper">

        <div id="pokebar">
          <div id="welcome">404</div>
        </div>

        <div id="mainpanel">
          Oops, you have done something wrong!
        </div>

      </div>

    </div>
    <a href="" id="atag"></a>
    <script type="text/javascript" src="../public/scripts/globalVariables.js"></script>
    <script type="text/javascript" src="../public/scripts/fakeClick.js"></script>
    <script type="text/javascript" src="../public/scripts/loadPokedex.js"></script>
    <script type="text/javascript" src="../public/scripts/showHints.js"></script>
    <script type="text/javascript" src="../public/scripts/showSearchbar.js"></script>
  </body>
</html>
