<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/index/style.css" type="text/css">
    <link rel="stylesheet" href="/public/account/style.css" type="text/css">
  </head>
  <body>

    <%- include('./partials/nav.ejs') %>

    <div id="wrapper">

      <div id="searchbar">
        <input id="searchinput" data-id="0" type="search" name="" value="" placeholder="Type the Pokemon Name">
      </div>

      <div id="pokebar">
        <div id="welcome"><%= nickname %></div>
      </div>

      <div style="clear:both"></div>

      <div id="sidebar">
        <ul>

        </ul>

        <div id="loadMore" data-id="1">Load More</div>
      </div>

      <div id="mainpanel">
        This is your account page
        <a href="/account/logout"><input type="button" value="log out"></a>
      </div>

      <div style="clear:both"></div>
    </div>
    <a href="" id="atag"></a>
    <!-- <script type="text/javascript" src="../public/scripts/fakeClick.js"></script> -->
    <script type="text/javascript" src="../public/scripts/account/globalVariables.js"></script>
    <script type="text/javascript" src="../public/scripts/account/deleteMoveset.js"></script>
    <script type="text/javascript" src="../public/scripts/account/generateMovesetLis.js"></script>
    <script type="text/javascript" src="../public/scripts/account/loadAccountMovesets.js"></script>
    <script type="text/javascript" src="../public/scripts/account/loadPokemonMovesets.js"></script>
    <script type="text/javascript" src="../public/scripts/account/searchPokemonMovesets.js"></script>
  </body>
</html>
