<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/add/style.css" type="text/css">
  </head>
  <body>

    <%- include('./partials/nav.ejs') %>

    <div id="wrapper">
      <div class="column">

        <form action="/add" method="post">

          <div class="row">
            <div class="attribute">Pokemon</div>
            <input type="text" id="main-text-0" class="main-text-input" name="" value="" placeholder="Enter the Pokemon's Name">
            <div style="clear:both"></div>
            <div class="wrong-data"></div>
          </div>

          <div class="row">
            <div class="attribute optional">Held Item</div>
            <input type="text" id="main-text-1" class="main-text-input" name="" value="" placeholder="Enter a Held Item/Empty">
            <div style="clear:both"></div>
            <div class="wrong-data"></div>
          </div>

          <div class="row">
            <div class="attribute">Ability</div>
            <input type="text" id="main-text-2" class="main-text-input" name="" value="" placeholder="Enter the Ability">
            <div style="clear:both"></div>
            <div class="wrong-data"></div>
          </div>

          <div class="row">
            <div class="attribute">EVs</div>
            <select class="" name="" id="howManyEVs">
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
            </select>
            <div style="clear:both"></div>
            <div class="wrong-data"></div>
          </div>

          <ul id="EVul">

          </ul>

          <div class="row">
            <div class="attribute">Nature</div>
            <input type="text" id="main-text-4" class="main-text-input" name="" value="" placeholder="Enter the Nature">
            <div style="clear:both"></div>
            <div class="wrong-data"></div>
          </div>

          <div class="row">
            <div class="attribute">Move #1</div>
            <input type="text" id="main-text-5" class="main-text-input" name="" value="" placeholder="Enter Move #1">
            <div style="clear:both"></div>
            <div class="wrong-data"></div>
          </div>

          <div class="row">
            <div class="attribute">Move #2</div>
            <input type="text" id="main-text-6" class="main-text-input" name="" value="" placeholder="Enter Move #2">
            <div style="clear:both"></div>
            <div class="wrong-data"></div>
          </div>

          <div class="row">
            <div class="attribute">Move #3</div>
            <input type="text" id="main-text-7" class="main-text-input" name="" value="" placeholder="Enter Move #3">
            <div style="clear:both"></div>
            <div class="wrong-data"></div>
          </div>

          <div class="row">
            <div class="attribute">Move #4</div>
            <input type="text" id="main-text-8" class="main-text-input" name="" value="" placeholder="Enter Move #4">
            <div style="clear:both"></div>
            <div class="wrong-data"></div>
          </div>

          <div class="row">
            <div class="attribute optional">MS Name</div>
            <input type="text" id="main-text-9" class="main-text-input" name="" value="" placeholder="Moveset's Name/Empty">
            <div style="clear:both"></div>
            <div class="wrong-data"></div>
          </div>

          <div class="row">
            <div class="attribute">Nickname</div>
            <input type="text" id="main-text-10" class="main-text-input" name="" value="" placeholder="Enter Your Nickname">
            <div style="clear:both"></div>
            <div class="wrong-data"></div>
          </div>

          <input type="submit" id="addMoveset" name="" value="Add Moveset">
        </form>

      </div>
    </div>

    <script type="text/javascript" src="../public/scripts/add/global-variables.js"></script>
    <script type="text/javascript" src="../public/scripts/add/select.js"></script>
    <script type="text/javascript" src="../public/scripts/add/change-class.js"></script>
    <script type="text/javascript" src="../public/scripts/add/check-form.js"></script>
  </body>
</html>
