<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/index/style.css" type="text/css">
  </head>
  <body>

    <%- include('./partials/nav.ejs') %>

    <div id="wrapper">

      <div id="leftWrapper">
        <div id="searchbar" class="">
          <input id="searchinput" autocomplete="off" type="search" name="" value="" placeholder="Type the Pokemon Name">
          <ul id="hints">

          </ul>
        </div>

        <div id="sidebar">
          <ul>

          </ul>

          <div id="loadMore" data-id="1">Load More</div>
        </div>

      </div>

      <div id="rightWrapper">

        <div id="pokebar">
          <div id="welcome">Pokemon Movesets App</div>
        </div>

        <div id="mainpanel">
          This is the home page<br><br>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean libero mauris, molestie vitae erat non, viverra fringilla tellus. Integer at orci eu lectus ultricies porta et ac sapien. Nulla in turpis euismod nisl interdum mattis. Maecenas pulvinar tempor arcu sit amet congue. Integer vestibulum lacus nec congue sollicitudin. Suspendisse et varius metus. Aliquam commodo ex eget sodales molestie. Duis metus tellus, efficitur id sollicitudin vitae, aliquam vitae ante. Nulla nec laoreet erat. Nunc sed vehicula sem. Maecenas sit amet sagittis lorem. Mauris pharetra nibh sed bibendum varius. Donec condimentum ante ac nisl molestie hendrerit. Nulla nunc ipsum, laoreet et lorem vitae, varius dignissim nunc.
          <br><br>
          Phasellus varius, felis vel condimentum laoreet, nisl odio ornare sapien, quis varius eros arcu nec turpis. Aliquam lacinia risus nec rhoncus fringilla. Morbi egestas dolor sed purus lacinia, vitae ornare ipsum bibendum. Praesent sed efficitur leo. Etiam commodo lacus ac ligula lobortis molestie. Vestibulum fermentum fermentum orci, ut ultricies metus dignissim sed. Vestibulum placerat lacus vitae ante laoreet, id dignissim enim lacinia. Nam ac sapien id libero tristique consectetur nec at massa. Vivamus dictum id dui sed malesuada. Nulla pulvinar elit in lacinia consectetur. Vestibulum tempor sodales ipsum vel molestie.
          <br><br>
          Curabitur pellentesque lectus odio, ut faucibus erat volutpat at. Sed iaculis est nisl, quis scelerisque felis porta a. Suspendisse tristique lacus sit amet nisi consectetur consequat. Vivamus lorem nibh, viverra dictum dapibus non, lobortis quis magna. Sed quis tortor orci. Donec mattis libero felis, a faucibus augue tristique vel. Nullam at massa at erat iaculis pellentesque id at mauris. Aliquam ut enim in nisl luctus maximus.
          <br><br>
          Pellentesque suscipit rutrum massa non condimentum. Integer convallis feugiat eros, pellentesque fermentum sapien pulvinar sed. Nam id viverra massa. Nulla sed leo massa. Aliquam vel arcu ac massa congue cursus. Maecenas id tempor elit, in varius mi. Pellentesque scelerisque elit arcu, eu efficitur ipsum cursus a. Nunc vulputate, nisi et vestibulum porta, leo purus condimentum odio, a mattis dolor dolor id metus.
          <br><br>
          Mauris aliquet rhoncus odio, sit amet rutrum leo malesuada blandit. Aenean fermentum sed lorem a aliquet. Vestibulum ac dui at nibh dignissim faucibus. Donec varius justo ut velit pretium euismod. Nulla facilisi. Mauris porta velit eu elit feugiat tristique. Interdum et malesuada fames ac ante ipsum primis in faucibus. Phasellus ligula massa, varius id volutpat nec, pharetra vel eros. Duis enim mauris, facilisis et enim a, dignissim aliquam enim. Vestibulum euismod nisl nec nisl suscipit varius. Curabitur convallis elementum odio a placerat. Proin sit amet leo mattis, fermentum risus sit amet, fermentum arcu. Cras eu nulla nec nisl ullamcorper pretium.
          <br><br>
          Vivamus non lacus vitae odio viverra ullamcorper vitae eu felis. Cras posuere quam metus, eget pulvinar dolor ultrices at. Maecenas facilisis placerat lacus, eget feugiat erat porta in. Aenean eleifend augue nec mauris facilisis placerat. Phasellus eget ultricies enim. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia curae; Mauris id ipsum risus. Duis sed tellus ultrices, finibus tortor sit amet, vestibulum est.
        </div>

      </div>

      <div style="clear:both"></div>
    </div>
    <a href="" id="atag"></a>
    <script type="text/javascript" src="../public/scripts/globalVariables.js"></script>
    <script type="text/javascript" src="../public/scripts/fakeClick.js"></script>
    <script type="text/javascript" src="../public/scripts/loadPokedex.js"></script>
    <script type="text/javascript" src="../public/scripts/showHints.js"></script>
    <script type="text/javascript" src="../public/scripts/showSearchbar.js"></script>
  </body>
</html>
