<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/pokemon/style.css" type="text/css">
  </head>
  <body>

    <%- include('./partials/nav.ejs') %>

    <div id="wrapper">

      <div id="searchbar">
        <input id="searchinput" type="search" name="" value="" placeholder="Type the Pokemon Name">
      </div>

      <div id="pokebar">
        <div id="prev">
          <div class="prev-text">#prev</div>
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="" style="float:left">
          <div style="clear:both"></div>
        </div>
        <div id="pokemon"><%= pokemon.name %></div>
        <div id="next">
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png" alt="" >
          <div class="next-text">#next</div>
          <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
      </div>

      <div style="clear:both"></div>

      <div id="sidebar">
        <ul>

        </ul>

        <div id="loadMore" data-id="1">Load More</div>
      </div>

      <div id="mainpanel">

        <%- include('./partials/topbar.ejs') %>

        <div id="stats">

          <div class="row">
            <div class="row-section">
              HP
            </div>
            <div class="row-section">
              <div class="stats-bar"><div style="visibility:hidden">.</div></div>
            </div>
            <div class="row-section">
              3
            </div>
            <div class="row-section">
              6
            </div>
            <div style="clear:both"></div>
          </div>
          <div class="row">
            <div class="row-section">
              Attack
            </div>
            <div class="row-section">
              <div class="stats-bar"><div style="visibility:hidden">.</div></div>
            </div>
            <div class="row-section">
              3
            </div>
            <div class="row-section">
              6
            </div>
            <div style="clear:both"></div>
          </div>
          <div class="row">
            <div class="row-section">
              Defense
            </div>
            <div class="row-section">
              <div class="stats-bar"><div style="visibility:hidden">.</div></div>
            </div>
            <div class="row-section">
              3
            </div>
            <div class="row-section">
              6
            </div>
            <div style="clear:both"></div>
          </div>
          <div class="row">
            <div class="row-section">
              Sp. Atk
            </div>
            <div class="row-section">
              <div class="stats-bar"><div style="visibility:hidden">.</div></div>
            </div>
            <div class="row-section">
              3
            </div>
            <div class="row-section">
              6
            </div>
            <div style="clear:both"></div>
          </div>
          <div class="row">
            <div class="row-section">
              Sp. Def
            </div>
            <div class="row-section">
              <div class="stats-bar"><div style="visibility:hidden">.</div></div>
            </div>
            <div class="row-section">
              3
            </div>
            <div class="row-section">
              6
            </div>
            <div style="clear:both"></div>
          </div>
          <div class="row">
            <div class="row-section">
              Speed
            </div>
            <div class="row-section">
              <div class="stats-bar"><div style="visibility:hidden">.</div></div>
            </div>
            <div class="row-section">
              3
            </div>
            <div class="row-section">
              6
            </div>
            <div style="clear:both"></div>
          </div>
          <div class="row">
            <div class="row-section">
              Total
            </div>
            <div class="row-section">
              .
            </div>
            <div class="row-section">
              Min
            </div>
            <div class="row-section">
              Max
            </div>
            <div style="clear:both"></div>
          </div>

        </div>

        <div id="evolutions">

          <div class="evolutions-row">
            <div class="evolutions-wrapper">
              <div class="evolutions-img">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/413.png" alt="">
              </div>
              <div class="evolutions-arrow">
                <img src="../public/img/long-right-arrow-2.png" alt="">
                <div class="evolutions-description">
                  (Level 20, Female, in grass)
                </div>
              </div>
              <div class="evolutions-img">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/413.png" alt="">
              </div>
              <div style="clear:both"></div>
            </div>
          </div>

          <div class="evolutions-row">
            <div class="evolutions-wrapper">
              <div class="evolutions-img">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/4.png" alt="">
              </div>
              <div class="evolutions-arrow">
                <img src="../public/img/long-right-arrow-2.png" alt="">
                <div class="evolutions-description">
                  (Level 16)
                </div>
              </div>
              <div class="evolutions-img">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/5.png" alt="">
              </div>
              <div class="evolutions-arrow">
                <img src="../public/img/long-right-arrow-2.png" alt="">
                <div class="evolutions-description">
                  (Level 36)
                </div>
              </div>
              <div class="evolutions-img">
                <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/6.png" alt="">
              </div>
              <div style="clear:both"></div>
            </div>
          </div>

        </div>

      </div>

      <div style="clear:both"></div>
    </div>
    <a href="" id="atag"></a>
    <div id="pokeName" style="display:none"><%= pokemon.name%></div>
    <script type="text/javascript" src="../public/scripts/pokemon/globalVariables.js"></script>
    <script type="text/javascript" src="../public/scripts/pokemon/getData.js"></script>
    <script type="text/javascript" src="../public/scripts/fakeClick.js"></script>
    <script type="text/javascript" src="../public/scripts/pokemon/loadMovesets.js"></script>
  </body>
</html>
