<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/pokemon-moveset/style.css" type="text/css">
  </head>
  <body>

    <%- include('./partials/nav.ejs') %>

    <div id="wrapper">

      <div id="searchbar">
        <input id="searchinput" type="search" name="" value="" placeholder="Type the Pokemon Name">
      </div>

      <div id="pokebar">
        <div id="prev">
          <div class="prev-text">#prev</div>
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/1.png" alt="" style="float:left">
          <div style="clear:both"></div>
        </div>
        <div id="pokemon">Name</div>
        <div id="next">
          <img src="https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/2.png" alt="" >
          <div class="next-text">#next</div>
          <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
      </div>

      <div style="clear:both"></div>

      <div id="sidebar">
        <ul>

        </ul>

        <div id="loadMore" data-id="1">Load More</div>
      </div>

      <div id="mainpanel">


        <%- include('./partials/topbar-moveset.ejs') %>

        <div id="moveset-wrapper">

          <div class="moveset-column">
            <ul>
              <li>
                <div>Held Item:</div>
                <div>Choice Scarf</div>
                <div style="clear:both"></div>
              </li>
              <li>
                <div>Ability:</div>
                <div>Sturdy</div>
                <div style="clear:both"></div>
              </li>
              <li>
                <div>EVs:</div>
                <div>160 Atk / 252 SDef / 96 Spd</div>
                <div style="clear:both"></div>
              </li>
              <li>
                <div>Nature:</div>
                <div>Careful(+SDef, -SAtk)</div>
                <div style="clear:both"></div>
              </li>
            </ul>
          </div>
          <div class="moveset-column">
            <ul>
              <li>
                <div>Move #1:</div>
                <div>Bug Bite</div>
                <div style="clear:both"></div>
              </li>
              <li>
                <div>Move #2:</div>
                <div>Bide</div>
                <div style="clear:both"></div>
              </li>
              <li>
                <div>Move #3:</div>
                <div>Quiver Dance</div>
                <div style="clear:both"></div>
              </li>
              <li>
                <div>Move #4:</div>
                <div>Rock Polish</div>
                <div style="clear:both"></div>
              </li>
            </ul>
          </div>

          <div style="clear:both"></div>

        </div>

        <div id="nick-footer">
          The author of this moveset is: Ahiru
        </div>

      </div>

      <div style="clear:both"></div>
    </div>
    <a href="" id="atag"></a>
    <script type="text/javascript" src="../public/scripts/fakeClick.js"></script>
    <script type="text/javascript" src="../public/scripts/loadPokedex.js"></script>
  </body>
</html>
