<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="/public/index/style.css" type="text/css">
  </head>
  <body>

    <%- include('./partials/nav.ejs') %>

    <div id="wrapper">

      <div id="searchbar">
        <input id="searchinput" type="search" name="" value="" placeholder="Type the Pokemon Name">
      </div>

      <div id="pokebar">
        <div id="prev">
          <div style="float:left">#prev</div>
          <img src="../public/img/arcanine.png" alt="" style="float:left">
          <div style="clear:both"></div>
        </div>
        <div id="pokemon"><%= name %></div>
        <div id="next">
          <img src="../public/img/arcanine.png" alt="" >
          <div style="float:right">#next</div>
          <div style="clear:both"></div>
        </div>
        <div style="clear:both"></div>
      </div>

      <div style="clear:both"></div>

      <div id="sidebar">
        <ul>

        </ul>

        <div id="loadMore" data-id="1">Load More</div>
      </div>

      <div id="mainpanel">
        This is the main panel
      </div>

      <div style="clear:both"></div>
    </div>
    <a href="" id="atag"></a>
    <script type="text/javascript" src="../public/scripts/fakeClick.js"></script>
    <script type="text/javascript" src="../public/scripts/loadPokedex.js"></script>
  </body>
</html>
