@media (min-width:1600px){

  #wrapper
  {
    padding: 2vw;
    margin: 2vh auto 0 auto;
    scrollbar-width: 1vw;
    scrollbar-color: #7D8D9C #adeec2;
    width: 35vw;
    border-radius: 15px;
    overflow-x: hidden;
    overflow-y: scroll;
  }


  .column
  {
    border-radius: 15px;
    background-color: white;
    width: 100%;
    padding: 2vw;
  }

  .row
  {
    text-align: center;
    width: 100%;
    padding: 1vw;
    border-radius: 15px;
    margin-bottom: 3vw;
  }

  .row:hover
  {
    cursor: pointer;
    background-color: #eee;
  }

  .attribute
  {
    font-size: 1.7vw;
    float: left;
    width: 38%;
  }

  .row input[type="text"],.row input[type="password"]
  {
    text-align: center;
    width: 58%;
    float: right;
    height: 100%;
    font-size: 1vw;
    padding: .5vw;
    border: none;
    border-bottom: 1px solid #e36c3d;
    border-radius: 10px;
  }

  .row select
  {
    float: right;
    width: 20%;
    height: 2vw;
    border: none;
    border-bottom: 1px solid #e36c3d;
    border-radius: 10px;
    text-align-last: center;
  }

  .typing, .typing:hover
  {
    background-color: #adeec2;
    color: white;
    border: 1px solid white;
  }

  #logIn
  {
    outline: none;
    padding: 0.5vw;
    border-radius: 15px;
    width: 95%;
    margin: 2vw auto 0 auto;
    text-align: center;
    color: white;
    background-color: #adeec2;
    font-size: 1.5vw;
    text-shadow: 1px 1px 2px #CE5937,1px 1px 2px #CE5937,1px 1px 2px #CE5937,1px 1px 2px #CE5937;
  }

  #register
  {
    background-color: white;
    font-size: .9vw;
    padding: 1vw;
    border: 3px solid #adeec2;
    border-radius: 15px;
    margin: 1vw 0 0 0;
    text-align: center;
  }



}
