@import url("media200.css");
@import url("media576.css");
@import url("media768.css");
@import url("media992.css");
@import url("media1200.css");
@import url("media1600.css");
@import url("../nav/style.css");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');
/*
beige: #f5da88
blue: #41eff5
yellow: #fef579
pistachio: #adeec2
red: #e36c3d
*/

*
{
  box-sizing: border-box;
}

body
{
  background-image: url('../img/stripes-light.png');
  font-family: Montserrat;
}

#wrapper
{
  -webkit-box-shadow: 21px 20px 35px -17px rgba(0,0,0,0.75);
  -moz-box-shadow: 21px 20px 35px -17px rgba(0,0,0,0.75);
  box-shadow: 21px 20px 35px -17px rgba(0,0,0,0.75);
  background-color: #e36c3d;
}

::-webkit-scrollbar {
 width: 1vw;
}
::-webkit-scrollbar-track {
 background: #adeec2;
}

::-webkit-scrollbar-thumb {
 background: #7D8D9C;
}

::-webkit-scrollbar-thumb:hover {
 background: #6c7c8b;
}

a
{
  color: inherit;
  text-decoration: none;
}

ul
{
  margin: 0;
  padding: 0;
  list-style-type: none;
}


.row input[type="text"]::placeholder,.row input[type="password"]::placeholder
{
  color: #ddd;
}

.row input[type="text"]:focus::placeholder,.row input[type="password"]:focus::placeholder
{
  color: white;
}

form
{
  padding: 0;
  margin: 0;
}
