@media (min-width:992px){
  #topbar
  {
    display: flex;
    justify-content: space-between;
  }

  #poke-img
  {
    flex:1 1 13%;
    background-color: white;
    border-radius: 15px;
    height: 13vw;
    width: 13vw;
    padding: .7vw;
  }

  #poke-img img
  {
    height: 11vw;
  }

  #types
  {
    flex:1 1 20%;
  }

  #types-text
  {
    font-size: 2.5vw;
    text-decoration: underline;
    text-decoration-color: #adeec2;
    text-underline-position: under;
    text-align: center;
    margin-bottom: 2vw;
  }

  #types .type
  {
    text-align: center;
    width: 11vw;
    margin: auto;
  }

  #types .type:nth-child(3)
  {
    margin-top: .5vw;
  }

  #forms
  {
    margin-left: 1vw;
    display: flex;
    flex:1 1 85%;
    justify-content: space-around;
  }

  #rag-forms
  {
    flex:1 1 20%;
  }

  #rag-forms ul
  {
    list-style-type: none;
    margin:0;
    padding: 0;
  }

  #rag-forms ul li
  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3.66vw;
    background-color: white;
    text-transform: uppercase;
    font-size: 1.8vw;
    margin:0 0 1vw 0;
  }

  #other-forms
  {
    flex:1 1 40%;
    height: 13vw;
    overflow-x: hidden;
    overflow-y: auto;
  }

  #other-forms ul
  {
    list-style-type: none;
    margin:0;
    padding: 0;
  }

  #other-forms ul li
  {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 3.66vw;
    background-color: white;
    text-transform: uppercase;
    font-size: 1.8vw;
    margin:0 0 1vw 0;
  }

  #rag-forms ul li.no-form
  {
    margin:0 0 1vw 0;
  }

  #rag-forms ul li.no-form:last-child
  {
    margin:0;
  }
}
