@import url("media200.css");
@import url("media576.css");
@import url("media768.css");
@import url("media992.css");
@import url("media1200.css");
@import url("media1600.css");
/*
beige: #f5da88
blue: #41eff5
yellow: #fef579
pistachio: #adeec2
red: #e36c3d
*/
