@media (min-width:1200px){
  #navbar ul
  {
    display: flex;
    margin: 3vh auto 2vh;
    width: 40vw;
    justify-content: space-between;
  }

  #navbar a
  {
    font-size: 2vw;
    margin: 0;
    padding: 1.3vw;
    background-color: #eee;
    border-radius: 10px;
    border: 2px solid #ddd;
  }

  #navbar a:hover
  {
    background-color: #ddd;
    border: 2px solid #e36c3d;
    cursor: pointer;
  }

  #navbar a:nth-child(4)
  {
    display: none;
  }
}
