@media (min-width:1600px){

  #navbar ul
  {
    display: flex;
    margin: 5vh auto 0;
    width: 27vw;
    justify-content: space-between;
  }

  #navbar a
  {
    height: auto;
    font-size: 1.3vw;
    margin: 0;
    padding: 1vw;
    background-color: #eee;
    border-radius: 10px;
    border: 2px solid #ddd;
  }

  #navbar a:hover
  {
    background-color: #ddd;
    border: 2px solid #e36c3d;
    cursor: pointer;
  }

}
