@media (min-width:1600px){

  #pokebar
  {
    display: flex;
    height: 5vw;
  }

  #pokemon
  {
    letter-spacing: 1px;
    text-align: center;
    flex: 1 1 50%;
    color: white;
    font-size: 2.5vw;
    margin: auto 0;
  }

  #prev
  {
    font-size: 1.5vw;
  }

  #next
  {
    font-size: 1.5vw;
  }

  #prev img, #next img
  {
    height: 3.5vw;
  }

  #stats
  {
    font-size: 1vw;
    padding: 1vw;
    margin-top: 3vw;
  }

  .row
  {
    padding: .5vw;
    margin-bottom: .5vw;
  }

  .row-section
  {
    padding: 0;
    margin-bottom: .5vw;
  }

  .stats-bar
  {
    width: 0%;
  }

  #evolutions
  {
    margin: 5vw 0;
  }

  .evolutions-row
  {
    margin-bottom: 3vw;
  }

  .evolutions-row:last-of-type
  {
    margin-bottom: 0vw;
  }

  .evolutions-wrapper
  {
    width: 40vw;
  }


  .evolutions-arrow
  {
    margin: auto 0;
  }

  .evolutions-arrow img
  {
    margin: auto;
    width: 3vw;
  }

}
